**Count Occurrences**

In [3]:
my_list=[1,8,3,5,5,8]
element=3
my_list.count(element)

1

**Sum of Elements**

In [4]:
total = sum(my_list)
print(total)

30

**Max Element**

In [5]:
max(my_list)

8

In [6]:
min(my_list)

1

In [7]:
element in my_list

True

**First and Last Element**

In [10]:
def first_last_element(fl):
    if fl:
        return (fl[0],fl[-1])
    return None

first_last_element(my_list)

(1, 8)

In [11]:
new_list=my_list[0:3]
new_list

[1, 8, 3]

In [12]:
rev_list=list(reversed(my_list))
print(rev_list)

[8, 5, 5, 3, 8, 1]

In [ ]:
sorted_list=sorted(my_list)
sorted_list

[1, 2, 3, 3, 4, 5]

In [13]:
unique_element=list(set(my_list))
unique_element

[8, 1, 3, 5]

In [14]:
list2=[1,2,2,3,4,5,6,6,7]
list2.insert(3,element)
list2

[1, 2, 2, 3, 3, 4, 5, 6, 6, 7]

In [20]:
list2.index(6,2)

7

In [22]:
any_list = ['a']
if len(any_list)  == 0:
    print("this list is empty")
else:
    print("This is not empty list")

This is not empty list

In [23]:
integers = [1,2,3,4,5,6,7,8,9]
i = 0
count1 = 0
count2 = 0
while i < len(integers):
    if integers[i] % 2 == 0:
        count1 += 1
    else:
        count2 += 1
    i +=1
print(f"The numbers of even integers and odd integers in the list are {count1} and {count2},respectively ")

The numbers of even integers and odd integers in the list are 4 and 5,respectively

In [ ]:
negative = [-5,-4,-3,-2,-1,0]
integers.extend(negative)
integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, -5, -4, -3, -2, -1, 0]

In [ ]:
my_list = [1,2,3,4,5,3] 
sub_list = [2,3,4] 
def is_inside(main_list,sub):
    m,n = len(main_list) ,len(sub)
    for i in range(m-n+1):
        if main_list[i:i+n] == sub:
            return True
    return False

is_inside(my_list,sub_list)

True

In [ ]:
element1 =3
element2 =7
my_list.insert(my_list.index(element1),element2)

In [ ]:
my_list = [1,2,3,4,5,3] 
my_list.remove(max(my_list))
second_max=max(my_list)
print(second_max)

4

In [ ]:
my_list.remove(min(my_list))
second_min=min(my_list)
print(second_min)

2

In [ ]:
even_num = []
i=0
while i < len(integers):
    if divmod(integers[i],2)[0]>0 and divmod(integers[i],2)[1] == 0:
        even_num.append(integers[i])
    i += 1
even_num

[2, 4, 6, 8]

In [ ]:
odd_num = []
i=0
while i < len(integers):
    if divmod(integers[i],2)[0]>0 and divmod(integers[i],2)[1] == 1:
        odd_num.append(integers[i])
    i += 1
odd_num

[3, 5, 7, 9]

In [ ]:
num_el=len(integers)
print(f"the number of elements of the list is {num_el}")

the number of elements of the list is 15

In [ ]:
integers_copy=integers.copy()

In [ ]:
def middle_el(my_list10):
    if len(my_list10) % 2 ==1:
        middle1 = my_list10[divmod(len(my_list10)-1,2)[0]]
        print(f"The middle element is {middle1}")
    else:
        middle2 = my_list10[(divmod(len(my_list10),2)[0]-1):(divmod(len(my_list10),2)[0]+1)] 
        print(f"The middle elements are {middle2}")

list11=[1,2,4]
list12=[1,2,3,4]
middle_el(list11)
middle_el(list12)

The middle element is 2
The middle elements are [2, 3]

In [ ]:
def max_min_in_sublist(lst, start, end):
    """Returns the maximum and minimum elements in the sublist lst[start:end]"""
    if start < 0 or end > len(lst) or start >= end:
        return "Invalid range"
    
    print(f"The (max,min) are {(max(lst[start:end]),min(lst[start:end]))}")

# Example usage:
my_list2 = [3, 1, 4, 1, 5, 9, 2, 6, 8]
start_index = 2
end_index = 7

result = max_min_in_sublist(my_list2, start_index, end_index)

The (max,min) are (9, 1)

In [ ]:
my_list3 = [3, 1, 4, 1, 5, 9, 2, 6, 8]
ind_to_remove = 2
my_list3.pop(ind_to_remove)
my_list3

[3, 1, 1, 5, 9, 2, 6, 8]

In [ ]:
def is_ascending(lst):
    if sorted(lst) == lst:
        return True
    return False
my_list4 = [1,2,3,4]
is_ascending(my_list4)

True

In [ ]:
my_list4 = [1,2,3,4]
k = 3

res = []
for i in my_list4:
    res.extend([i] * k)
print(res)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [ ]:
list21=[6,4,5,8,2,0]
list22=[4,3,7,9,1,2]
new_merged=sorted(list21+list22)
new_merged

[0, 1, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9]

In [ ]:
def find_indices(lst, element):
    indices = []
    for i, x in enumerate(lst):
        if x == element:
            indices.append(i)
    return indices

element_to_find=2
find_indices(new_merged, element_to_find)

[2, 3]

In [ ]:
rotated_list=new_merged[::-1]
rotated_list

[9, 8, 7, 6, 5, 4, 4, 3, 2, 2, 1, 0]

In [ ]:
list23=list(range(1,11,1))
list23

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
integers = [1,2,3,4,5,6,7,8,9]
negative = [-5,-4,-3,-2,-1,0]
integers.extend(negative)
integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, -5, -4, -3, -2, -1, 0]

In [ ]:
i=0
sum_pos=0
sum_neg=0
while i < len(integers):
    if integers[i] > 0:
        sum_pos += integers[i]
    else:
        sum_neg += integers[i]
    i += 1

print(f"The sum of all positive numbers in the list is {sum_pos} and The sum of all negative numbers in the list is {sum_neg} ")

The sum of all positive numbers in the list is 45 and The sum of all negative numbers in the list is -15

In [ ]:
polindrome=[1,2,3,2,1]
if polindrome == polindrome[::-1]:
    print("True")
else:
    print("False")

True

In [ ]:
def split_list(lst,size):
    result=[]
    for i in range(0,len(lst),size):
        result.append(lst[i:i+size])
    return result

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
size = 3
split_list(my_list,size)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
unique_list=list(set(new_merged))
unique_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuple Tasks

In [ ]:
tuple1=(1,1,2,5,4,9,3,3,4)
el1=4
tuple1.count(el1)

2

In [ ]:
max(tuple1)

9

In [ ]:
min(tuple1)

1

In [ ]:
i=0
while i<len(tuple1):
    if tuple1[i] == el1:
        print("It is inside")
    i +=1

It is inside
It is inside

In [ ]:
tuple2=(-2,3,4,1,-3,4)
if tuple2 != ():
    print(f"the first element is {tuple2[0]}")
else:
    print("It is empty")

the first element is -2

In [ ]:
tuple2=(-2,3,4,1,-3,4)
if tuple2 != ():
    print(f"the last element is {tuple2[-1]}")
else:
    print("It is empty")

the last element is 4

In [ ]:
len(tuple1)

9

In [ ]:
slice_tuple=tuple1[0:3]
slice_tuple

(1, 1, 2)

In [ ]:
combined_tuple=tuple1+tuple2
combined_tuple

(1, 1, 2, 5, 4, 9, 3, 3, 4, -2, 3, 4, 1, -3, 4)

In [ ]:
tuple3=()
if tuple3 != ():
    print('It is not empty')
else:
    print("It is empty")

It is empty

In [ ]:
i=0
while i<len(tuple1):
    if tuple1[i] == el1:
        print(f"the {i}th element is {el1}")
    i +=1

the 4th element is 4
the 8th element is 4

In [ ]:
def second_largest(tpl):
    unique_elements = list(set(tpl))  # Remove duplicates
    if len(unique_elements) < 2:
        return None  # No second largest element exists
    unique_elements.sort(reverse=True)  # Sort in descending order
    return unique_elements[1]  # Second largest element
second_largest(tuple1)

5

In [ ]:
def second_smallest(tpl):
    unique_elements = list(set(tpl))  # Remove duplicates
    if len(unique_elements) < 2:
        return None  # No second smallest element exists
    unique_elements.sort()  # Sort in descending order
    return unique_elements[1]  # Second smallest element
second_smallest(tuple1)

2

In [ ]:
single_tuple=(el1,)
single_tuple
type(single_tuple)

tuple

In [ ]:
list31=[1,3,5,7,9]
list_tuple=tuple(list31)
list_tuple

(1, 3, 5, 7, 9)

In [ ]:
def check_order(tpl):
    if sorted(list(tpl)) == list(tpl):
        print("True")
    else:
        print("False")

check_order(list_tuple)

True

In [ ]:
max(tuple1[1:5])

5

In [ ]:
min(tuple1[1:5])

1

In [ ]:
list_t=list(tuple1)
list_t.remove(el1) #removes the element
tuple(list_t) #converts into tuple

(1, 1, 2, 5, 9, 3, 3, 4)

In [ ]:
def create_nested_tuple(tpl, size):
    return tuple(tpl[i:i + size] for i in range(0, len(tpl), size))

# Example usage:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
size = 3

nested_tuple = create_nested_tuple(my_tuple, size)
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
def repeat_elements(tpl, n):
    return tuple(x for x in tpl for _ in range(n))

# Example usage:
my_tuple = (1, 2, 3)
repeat_count = 3

new_tuple = repeat_elements(my_tuple, repeat_count)
print(new_tuple)

(1, 1, 1, 2, 2, 2, 3, 3, 3)

In [ ]:
tuple(range(0,11,1))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
my_tuple[::-1]

(3, 2, 1)

In [ ]:
def check_palindrom(tpl):
    if tpl[::-1] == tpl:
        print("True")
    else:
        print("False")

check_palindrom(my_list)

False

In [ ]:
tuple1=(1, 1, 2, 5, 4, 9, 3, 3, 4)
tuple44=tuple(set(tuple1))
tuple44

(1, 2, 3, 4, 5, 9)

### Set Tasks

In [ ]:
set1 = {"apple", "banana", "cherry",1,3}
set2 = {1, 5, 7, 9, 3,"apple"}
union_set= set1 | set2 # or set1.union(set2)
union_set

{1, 3, 5, 7, 9, 'apple', 'banana', 'cherry'}

In [ ]:
intersection_set= set1 & set2 # or set1.intersection(set2)
intersection_set

{1, 3, 'apple'}

In [ ]:
difference_set = set1 - set2 #or set1.difference(set2)
difference_set

{'banana', 'cherry'}

In [ ]:
def check_subset(st1,st2):
    if st1 - st2 == set():
        print("1st set is the subset of the 2nd one.")
    elif st2 - st1 == set():
        print("2nd set is the subset of the 1st one.")
    else:
        print("False")

set11={1,2,3,4,5,6,7,8,9}
set22={1,3,5,7,9}
check_subset(set11,set22)

2nd set is the subset of the 1st one.

In [ ]:
set_el="apple"
print(set_el in set1)

True

In [ ]:
len(set1)

5

In [ ]:
list44=[1,1,2,2,3,3,3,4]
set44=set(list44)
set44

{1, 2, 3, 4}

In [ ]:
set1.remove(set_el)
set1

{1, 3, 'banana', 'cherry'}

In [ ]:
set1.clear()
empty_set=set1
empty_set

set()

In [ ]:
def check_empty(st):
    if st == set():
        print("It is empty")
    else:
        print("it is not empty")
check_empty(empty_set)

It is empty

In [ ]:
sy_dif_set= set11.symmetric_difference(set22) # or set11 ^ set22
sy_dif_set

{2, 4, 6, 8}

In [ ]:
set11.add(set_el)
set11

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple'}

In [ ]:
set11.pop()

1

In [ ]:
max(set22)

9

In [ ]:
min(set22)

1

In [ ]:
def get_even(st):
    even_set=set()
    for x in st:
        if x % 2 == 0:
            even_set.add(x)
    return even_set

set33={1,12,24,13,17,28}
get_even(set33)

{12, 24, 28}

In [ ]:
def get_odd(st):
    odd_set=set()
    for x in st:
        if x % 2 == 1:
            odd_set.add(x)
    return odd_set

set33={1,12,24,13,17,28}
get_odd(set33)

{1, 13, 17}

In [ ]:
set(range(0,11,1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
list55=[1,3,4,5,7,7,8]
set(list44) | set(list55)

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
def disjoint(st1,st2):
    if st1 ^ st2 == set():
        print("They have nothing in common")
    else:
        print("False")

set22_copy=set22.copy()
disjoint(set22,set22_copy)

They have nothing in common

In [ ]:
list44
list(set(list44))

[1, 2, 3, 4]

In [ ]:
len(set(list44))

4

In [ ]:
import random
def generate_random_set(size, start, end):
    random_set = set()
    while len(random_set) < size:
        random_set.add(random.randint(start, end))
    return random_set

# Example usage:
random_set = generate_random_set(5, 1, 10)
print(random_set)

{1, 3, 5, 7, 9}

### Dictionary Tasks

In [ ]:
dict1 = {
    'name': 'Odil',
    'age': '26',
    'surname':'Yunusov'
}

In [ ]:
value = dict1.get("b", "Key not found")
value

'Key not found'

In [ ]:
def get_value(dc,ky):
    value = dc.get(ky, "Key not found")
    if "Key not found" == value:
        print("Key not found")
    else:
        print(value)

get_value(dict1,'name')

Odil

In [ ]:
'name' in dict1

True

In [ ]:
len(dict1.keys())

3

In [ ]:
list(dict1.keys())

['name', 'age', 'surname']

In [ ]:
list(dict1.values())

['Odil', '26', 'Yunusov']

In [ ]:
dict2 = {
    'name2' : 'Bakhodir',
    'age2' : '26',
    'surname2':'Saidov'
}

students = dict1 | dict2
students

{'name': 'Odil',
 'age': '26',
 'surname': 'Yunusov',
 'name2': 'Bakhodir',
 'age2': '26',
 'surname2': 'Saidov'}

In [ ]:
def remove_key(dc,ky):
    value = dc.pop(ky, "Key not found")
    if "Key not found" == value:
        print("Key not found")
    else:
        print(dc)

remove_key(dict1,'name')

{'age': '26', 'surname': 'Yunusov'}

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
my_dict.clear()
empty_dict=my_dict
empty_dict

{}

In [ ]:
def check_empty_dict(dc):
    if dc == {}:
        print("Empty")
    else:
        print("Not Empty")

check_empty_dict(empty_dict)

Empty

In [ ]:
key='age2'
pair=(key,dict2[key])
pair

('age2', '26')

In [ ]:
dict2['age2'] = '25'
dict2

{'name2': 'Bakhodir', 'age2': '25', 'surname2': 'Saidov'}

In [ ]:
list(dict2.values()).count('25')

1

In [ ]:
inverted_dict = {v: k for k, v in dict2.items()}
inverted_dict

{'Bakhodir': 'name2', '25': 'age2', 'Saidov': 'surname2'}

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 1, "d": 3}

value_to_find = 1
keys_with_value = [k for k, v in my_dict.items() if v == value_to_find]

print(keys_with_value)

['a', 'c']

In [ ]:
keys = ["a", "b", "c"]
values = [1, 2, 3]

my_dict = dict(zip(keys, values))
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
list(dict2.values())

['Bakhodir', '25', 'Saidov']

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
type(list(myfamily.values())[0])

dict

In [ ]:
myfamily["child1"]["name"]

'Emil'

In [ ]:
from collections import defaultdict

# Create a defaultdict with a default value of 0
my_dict = defaultdict(int)

print(my_dict["missing_key"])  # Output: 0 (instead of KeyError)

0

In [ ]:
len(set(dict2.values()))

3

In [ ]:
dict(sorted(dict2.items()))

{'age2': '25', 'name2': 'Bakhodir', 'surname2': 'Saidov'}

In [ ]:
my_dict = {"a": 3, "b": 1, "c": 2}

sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print(sorted_dict)

{'b': 1, 'c': 2, 'a': 3}

In [ ]:
my_dict = {"a": 1, "b": 3, "c": 5, "d": 2}

filtered_dict = {k: v for k, v in my_dict.items() if v > 2}
print(filtered_dict)

{'b': 3, 'c': 5}

In [ ]:
for x in dict2.keys():
    print(x)

name2
age2
surname2

In [ ]:
dict1.keys() & dict2.keys()

set()

In [ ]:
keys = ("a", "b", "c")
values = (1, 2, 3)

my_dict = dict(zip(keys, values))
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
list(dict1.items())[0]

('age', '26')